/*DEBUG*/
/**{*/
/*  border: 1px solid black;*/
/*}*/

* {
  margin: 0;
  padding: 0;
  max-width:100%;
  max-height:100%;
  font-family: 'Helvetica', sans-serif;
}
/* General */
body {
  background: var(--background);
}

/* Text */
p {
  font-size: 18px;
  font-weight: 5;
  text-decoration: none;
  text-align: center;
  color: var(--inactive);
}
h1 {
  display: inline;
  font-size: 45px;
  font-weight: 4500;
}

/* Common Components */
.outline-button {
  border: 2px solid var(--inactive);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.outline-button > *{
  vertical-align: middle;
  text-align: center;
}
.solid-fill-button {
  background-color: var(--active);
  border-radius: 8px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  max-width: 100px;
  padding: 12px;
}
.solid-fill-button p {
  color: var(--background);
}

/* Div-Specific */
.hero {
  min-height: 6vh;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
  .hero * {
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    padding-top: 15px;
    margin-right: 20px;
  }

.page {
  max-height: 77vh;
  padding-left: 5px;
  padding-right: 5px;
}
  .page * {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .page > p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 4vh;
    padding-left: 35px;
    padding-right: 35px;
  }
  .hero-image {
    max-width:100%;
    max-height:100%;
    margin-bottom: 5vh;
  }
  .title-hook {
    margin-bottom: 3vh;
    width: 400px;
  }
  .clients {
    margin-top: 6vh;
    align-items: center;
    justify-content: space-between;
  }
    .client-logo {
      min-width: 110px;
      display: inline-block;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

    }
      .client-logo > * {
        display: flex;
        margin: 0 auto;
      }

/* nav menu */
.nav-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--overlay);
}

  .nav-menu {
    background-color: var(--background);
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 220px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .menu-item {
    margin-top: 20px;
  }
  #navCloseButton {
    margin-bottom: 10px;
  }
    .menu-item > * {
      display: inline-block;
    }
    .dropdown-wrap {
      max-height: 0;
      overflow: hidden;
    }
      .dropdown {
        padding: 10px;
      }
        .dropdown-link {
          display: flex;
          align-content: start;
          text-decoration: none;
          margin: 12px 15px;
        }
          .icon-container {
            width: 22px;
            display: flex;
            align-content: center;
            align-items: center;
            margin-right: 15px;
          }
          .icon-container > img {
            min-height: 22px;
            margin-left: auto;
            margin-right: auto;
          }
        .user-iam {
          margin-top: 30px;
        }
          .user-iam > * {
            align-items: center;
            align-content: center;
            text-align: center;
          }


/* Interaction */
.hover-interaction:hover>p{
  color: var(--active);
}
.outline-button:hover{
  border-color: var(--active);
}
.outline-button:hover > *{
  color: var(--active);
}

#featuresDropdown.open-menu{
  max-height: 400px;
}
#companyDropdown.open-menu{
  max-height: 400px;
}