/*DEBUG*/
/**{*/
/*  border: 1px solid black;*/
/*}*/

:root {
  --inactive: #7f7f7f;
  --active: #121212;

}
* {
  margin: 0;
  padding: 0;
  max-width:100%;
  max-height:100%;
  font-family: 'Helvetica', sans-serif;
}
/* General */
body {
  background: #fafafa;
}

/* Text */
p {
  font-size: 14px;
  text-decoration: none;
  color: var(--inactive);
}

/* Common Components */
.outline-button {
  border: 2px solid var(--inactive);
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.solid-fill-button {
  background-color: var(--active);
  border-radius: 8px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  max-width: 100px;
  padding: 12px;
}
.solid-fill-button p {
  color: white;
}

/* Div-Specific */
.hero {
  min-height: 6vh;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero * {
  display: inline-block;
  vertical-align: middle;
}
  .nav-menu>* {
    min-width: 76px;
    margin: 2px 5px;
    padding: 8px;

    cursor: pointer;
  }
    .logo {
      padding-top: 15px;
      margin-right: 20px;
    }
  #user-iam>* {
    text-align: center;
    cursor: pointer;
  }

.dropdown-wrap {
  position: absolute;
  top: 100%;
  max-height: 0;
  overflow: hidden;
}
  .dropdown {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
  }
  .dropdown-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 10px;
  }
    .dropdown-link img {
      margin-right: 15px;
    }
    .dropdown-link span {
      /*dropdown menu item arrow >, delay on hover*/
      font-size: 22px;
      transition: transform 0.5s;
    }

.page {
  display: flex;
  flex: 1;
  max-height: 77vh;
  padding: 40px;
}
.left {
  width: 60%;
  display: flex;
  align-items: end;
  justify-content: center;
}
  .left-content {
    max-width: 560px;
    max-height:80vh;
  }
  .left-content h1{
    font-size: 93px;
    font-weight: 4000;
    line-height: 110px;
    margin-bottom: 6vh;
  }
  .left-content>p {
    padding-right: 20%;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6vh;
  }
  .clients {
    margin-top: 10vh;
    align-items: center;
    justify-content: space-between;
  }
  .client-logo {
    min-width: 110px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }
  .client-logo > * {
    display: flex;
    margin: 0 auto;
  }
  .right-content{
    max-width: 40%;
  }
  .right-content>img{
    max-width:100%;
    max-height:100%;
  }
.attribution{}


/* Interaction */
.hover-interaction:hover>p{
  color: var(--active);
}
.outline-button:hover{
  border-color: var(--active);
}
.outline-button:hover > *{
  color: var(--active);
}

#featuresDropdown{
  left: 6%;
}
#companyDropdown{
  left: 16%;
}
#featuresDropdown.open-menu{
  max-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 20px 3px;
}
#companyDropdown.open-menu{
  max-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 20px 3px;
}